@charset "utf-8";
html, body, img, a img, form,ul,ol,li{margin:0; padding:0; border:none;_overflow-x:hidden;}
img{text-align:absmiddle; background-color:transparent}
html, body, p, table,input,textarea,select{font: 12PX "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;}
html,body,table,form{width:100%;padding:0;margin:0;}
a{color:#444444;text-decoration:none;}
a:hover{color:#BF0000; text-decoration:underline;}

ul, ol { list-style:none;}
p, li {	line-height:1.8em;}
input, textarea, select, button, file {	font-size:12px;margin:0px;}
b {height:24px;line-height:24px;}

em,i {font-style: normal;font-weight:normal;}

select,.input-text,.txtarea,.input-order{border:1px solid;border-color:#666 #ccc #ccc #666;background:#f9f9f9;}
select{padding:2px;}
.input-text{padding:3px 2px;text-indent:5px;}
.input-order{text-align:center;padding:2px 5px;}
.txtarea{line-height:20px;padding-left:5px;}

#main_top{height:85px;float:left;width:100%;}
#main_top,#main_foot{background:#E2E9EA;padding:0;margin:0;;}

.fl{float:left;}
.fr{float:right;}

.add,.edit,.sdel,.grant,.down,.audit{float:left;width:16px;height:16px;background:url(../images/ico.gif);margin-left:5px;}
.folder,.file{float:left;width:16px;height:16px;background:url(../images/ico.gif) ;margin-right:5px;line-height:16px;text-indent:20px;white-space:nowrap;}
.folder{background-position:0 0;}
.file{background-position:0 -80px;}
.edit{background-position:0 -64px;}
.sdel{background-position:0 -48px;}
.grant{background-position:0 -16px;}
.down{background-position:0 -96px;}
.audit{background-position:0 -32px;}
.add{background-position:0 -206px;margin-top:6px;}
.mtop{float:left;height:16px;line-height:16px;margin-left:10px;background:url(../images/ico.gif) no-repeat 0 -128px;text-indent:20px;}
.shou{cursor:pointer;}
.tag{margin-right:10px;}
.selectcolor{padding:0px 8px;cursor:pointer;width:16px;height:16px;background:url(../images/ico.gif) no-repeat 0 -112px;margin-left:5px;}

.message{width:500px;margin:20px;border:1px solid #ccc;font-size:12px;padding:10px;}
.message .title{color:#cc0000;border-bottom:1px solid black;font-size:14px;font-weight:800;line-height:30px;}
.message .content{line-height:25px;}
.message .content ul{list-style-type:disc;padding-left:20px;}
