@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

.clear{ clear:both; height:1px; line-height:1px; font-size:1px;}
body{ text-align:center; background-color:#fff; font-family:"微软雅黑";}
.border_none{ border:none;}
a {text-decoration:none;}
a:hover{ text-decoration:underline;}


/*字体*/
.plat_font_14{ font-size:14px;}
.plat_font_12{ font-size:12px;}

/*颜色*/
.blue{ color:#07f;}
.red{ color:#f00;}
.hui_666{ color:#666;}

.plat_color{ color:#999999;}
.plat_menu a{text-decoration: none;color: #a2aab1;}
.plat_menu a:hover{text-decoration: none;color: #a2aab1;}

/*首页*/
.plat_top{height:60px;background-color:#252f36;position:fixed;width:100%;left:0px;top:0px;right:0px; z-index:1000; text-align:left;}
.plat_top_logo{width:290px;height:30px;float:left;margin-top:12px;margin-left:15px}

/*登录人显示*/
.plat_top_user{float:right;display:block;padding:12px 15px 12px 15px;background-color:#1a2126;cursor:pointer; position:relative;}
.plat_top_user:hover{ background-color:#3b444a;}
.plat_top_user:hover .plat_user_main{ display:block;}
.plat_top_user:hover .plat_top_user_img span{background-image:url(../images/user_photo_img2.png);}
.plat_top_user i{width:12px;height:12px;display:block;float:left;background-image:url(../images/down_jian.png);background-repeat:no-repeat;background-position:center center;margin-top:10px;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}
.plat_top_user_img{ width:36px; height:36px;display:inline-block;position:relative; z-index:1; float:left;}
.plat_top_user_img span{ width:36px; height:36px; display:block; background-image:url(../images/user_photo_img1.png); background-repeat:no-repeat; position:absolute;z-index:2; top:0px; left:0px;}
.plat_top_user_name{font-size:14px;display:inline-block;color:#fff;line-height:18px;float:left;padding-left:10px;padding-right:10px}
.plat_top_user_name p{line-height: 18px;}

/*登录下拉*/
.plat_user_main{position:absolute; top:66px; right:0px; background-color:#fff; border:solid 1px #ddd; z-index:998; padding-bottom:8px;cursor:auto; display:none;}
.plat_user_main_ico{ width:11px; height:6px; line-height:6px; font-size:6px; display:block; position:absolute; top:-6px; left:48%; background-image:url(../images/plat_jian1.png); z-index:999;}
.plat_user_main li{ line-height:30px; color:#666; font-size:14px; }
.plat_user_main li a{ color:#666;padding-left:10px; display:block;}
.plat_user_main li a:hover{ color:#333;padding-left:10px; display:block; background-color:#eee;}

/*消息下拉*/
.plat_message{position:absolute; top:66px; right:0px; background-color:#fff; border:solid 1px #ddd; z-index:998; cursor:auto;display:none;}
.plat_message_ico{ width:11px; height:6px; line-height:6px; font-size:6px; display:block; position:absolute; top:-6px; right:20px; background-image:url(../images/plat_jian2.png); z-index:999;}
.plat_message_tit{ height:40px; background-color:#eee; line-height:40px; font-size:14px; color:#ff0000; padding-left:10px;}
.plat_message_main{ background-color:#fff; padding:0px;}
.plat_message_main dl{ display:block; border-bottom:solid 1px #eee; padding:10px; cursor:pointer;}
.plat_message_main dl:hover{ background-color:#f5f5f5;}
.plat_message_main dl:hover dt a{ text-decoration:none; color:#333;}
.plat_message_main dt{ display:block; font-size:14px; color:#666; line-height:17px;padding-left:40px;}
.plat_message_main dt a{ text-decoration:none; color:#666;}
.plat_message_main dd{ display:block; font-size:12px; color:#999; line-height:17px;padding-left:40px;}
.plat_message_main_ico{ float:left; width:34px; height:34px; display:block;}
.plat_message_more{ text-align:center; line-height:28px; color:#666; font-size:12px;}
.plat_message_more a{ text-decoration:none; color:#666;}
.plat_message_more:hover{ background-color:#f5f5f5;}
.plat_message_more:hover a{ color:#333;}

/*通知-提醒-报警*/
.plat_notice{ float:right; height:60px;}
.plat_notice ul{ padding:0px;}
.plat_notice li{width:54px;height:60px;cursor:pointer;float:left;display:block;margin-right:5px; position:relative;}
.plat_notice li:hover{background-color:#3b444a;}
.plat_notice li:hover .plat_notice_1 img{filter:alpha(opacity=90);-moz-opacity:0.90;opacity:0.90;}
.plat_notice_1{width:25px;height:25px;display:block;margin:20px auto;position:relative; z-index:1;}
.plat_notice_1 img{filter:alpha(opacity=40);-moz-opacity:0.40;opacity:0.40;}
.plat_notice_1 span{ width:18px; height:18px; display:block; position:absolute; z-index:2; background-image:url(../images/red_bj.png); background-repeat:no-repeat; top:-6px; left:-9px; font-family:Arial; color:#fff; font-size:12px; text-align:center; line-height:18px;}
.plat_notice_one{}
.plat_notice_one:hover .plat_message{ display:block;}

/*左侧导航------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------开始*/
.plat_menu_width_1{ width:160px;}
.plat_menu_width_2{ width:45px;}
.plat_menu{background-color:#364048;float:left;height:100%;left:0;top:0;margin-top:60px;z-index:999;box-shadow:0 0 8px #888;text-align:left;position:fixed}
.plat_menu li{display:block; position:relative;}
.plat_menu .stop_bind{height:5px}

.plat_menu_width_1 li i{display:block; }
.plat_menu_width_1 li span{display:block; }

.plat_menu_width_2 li i{display:block; }
.plat_menu_width_2 li span{display:none; }


	/*缩进菜单-划过菜单栏目时显示二级栏目ul*/
.plat_menu_width_2 li:hover .plat_menu_erji{ position:absolute; display:block; top:-7px; left:46px; background-color:#364048; width:160px;box-shadow: 4px 4px 0px #ccc;}
.plat_menu_width_2 li .plat_menu_erji_li_a{ padding-left:20px;}/*缩进菜单-划过菜单栏目时显示二级栏目-文字缩进调整*/
.plat_menu_width_2 li .plat_menu_erji p{ display:block; height:40px; font-size:14px; width:141px; line-height:40px; padding-left:20px;position:relative; left:-1px;top:0px;}/*缩进菜单-划过菜单栏目时显示二级栏目-显示当前查看菜单栏目名称*/
.plat_menu_width_2 li .plat_menu_erji{display:none;}

.plat_menu_li_a{ display:block; color:#a2aab1; padding:10px; text-decoration:none; line-height:20px; height:20px; font-size:14px;border-top:solid 1px #444d55;}
.plat_menu_li_a:hover{background-color:#262d32;color:#a2aab1; }

/*当前页面默认栏目-深绿色*/
.plat_menu_li_a_visit{display:block;background-color:#1bab70!important;color:#fff!important;}
.plat_menu_li_a_visit:hover{background-color:#1bab70;color:#fff!important;}

/*划过栏目默认-深灰*/
.plat_menu_li_a_visit1{background-color:#262d32;color:#a2aab1;}
.plat_menu_li_a_visit1:hover{background-color:#262d32;color:#a2aab1;}

	/*二级菜单*/
.plat_menu_erji{ display:none; margin:8px 0px 8px 0px;}

.plat_menu_erji p{ display:none;cursor:pointer;}

.p_visit{background-color:#1bab70; color:#fff;}/*深绿色*/
.p_hover{background-color:#262d32;color:#a2aab1;}/*深灰*/
.p_visit a{color:#fff!important;}

.plat_menu_erji li{ background:none; margin-top:1px;}

			/*二级菜单栏目-划过-浅灰色*/
.plat_menu_erji_li_a{ display:block; padding-left:44px; height:30px; line-height:30px; color:#a2aab1; font-size:12px;text-decoration: none;}
.plat_menu_erji_li_a:hover{ background-color:#4a535b; color:#a2aab1;text-decoration: none;}

			/*二级菜单栏目-选中-浅灰色*/
.plat_menu_erji_li_a_visit{ background-color:#4a535b; color:#a2aab1;}
.plat_menu_erji_li_a_visit:hover{ background-color:#4a535b; color:#a2aab1;}

	/*二级菜单结束*/
	
.plat_menu_tubiao{width:20px;height:20px;display:block;float:left;margin-right:12px}

.plat_menu_li_a .plat_menu_tubiao img{filter:alpha(opacity=60);  /*支持 IE 浏览器*/-moz-opacity:0.60; /*支持 FireFox 浏览器*/opacity:0.60;  /*支持 Chrome, Opera, Safari 等浏览器*/}
.plat_menu_li_a_visit .plat_menu_tubiao img{filter:alpha(opacity=100);  /*支持 IE 浏览器*/-moz-opacity:1; /*支持 FireFox 浏览器*/opacity:1;  /*支持 Chrome, Opera, Safari 等浏览器*/}

.plat_menu_text{display:block;font-size:14px;float:left;height:20px}

.plat_menu_li_a .plat_menu_jian{width:10px;height:20px;background-image:url(../images/menu_jian1.png);float:right;background-repeat:no-repeat;background-position:center center;filter:alpha(opacity=30);-moz-opacity:0.30;opacity:0.30; }
.plat_menu_li_a .plat_menu_jian1{width:10px;height:20px;background-image:url(../images/menu_jian2.png);float:right;background-repeat:no-repeat;background-position:center center;filter:alpha(opacity=30);-moz-opacity:0.30;opacity:0.30;}

.plat_menu_li_a_visit .plat_menu_jian{width:10px;height:20px;background-image:url(../images/menu_jian1.png);float:right;background-repeat:no-repeat;background-position:center center;filter:alpha(opacity=100);-moz-opacity:1;opacity:1; }
.plat_menu_li_a_visit .plat_menu_jian1{width:10px;height:20px;background-image:url(../images/menu_jian2.png);float:right;background-repeat:no-repeat;background-position:center center;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}

/*菜单按钮*/
.plat_menu_ico{width:30px;height:27px;background-color:#262d32;margin-top:8px;cursor:pointer;margin-right:8px;margin-left:3px;float:right;margin-bottom:8px}
.plat_menu_ico img{filter:alpha(opacity=50);  /*支持 IE 浏览器*/-moz-opacity:0.50; /*支持 FireFox 浏览器*/opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/}
.plat_menu_ico:hover{ background-color:#1b2024;}
.plat_menu_ico:hover img{filter:alpha(opacity=70);  /*支持 IE 浏览器*/-moz-opacity:0.70; /*支持 FireFox 浏览器*/opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/}

/*内容部分*/
.page_content_wrapper{width:100%;float:left;background-color:#FFF;padding-top:60px}/*框架*/
.page_content{margin-left:180px;margin-top:0;min-height:600px;text-align:left;background-color:#fff;margin-right:20px; margin-top:20px;}/*框架*/

.page{ padding-top:12px;}

/*当前栏目标题*/
.page_title{padding:0;font-size:24px;color:#000;margin:0 0 15px 0;font-family:"微软雅黑"}

/*当前时间*/
.page_time{font-size:12px;float:right;line-height: 30px;}

/*首页通知-当前位置*/
.page_add{height:40px;background-color:#f3f3f3;display:block;line-height: 40px;}
.page_add_span{width:20px;height:20px;display:block;float:left;padding-top:10px;padding-right:7px;padding-bottom:10px;padding-left:10px}
.page_add_span img{filter:alpha(opacity=30);-moz-opacity:0.30;opacity:0.30;}
.page_add_text{font-size:14px;color:#333;display:block;float:left;line-height:40px;padding-right:10px}
.page_add_text a{ color:#333;}
.page_add_text a:hover{ text-decoration:underline; color:#07f;}
.page_add_text em{ color:#000;}

.page_body{display:block;margin-top:12px}


/*弹窗样式-----------------------------------------------------------------！！！！！！！！！！*/
.plat_tan{  background-color:#fff;box-shadow: 0px 1px 5px 0px #ccc; position:absolute; top:40%; left:30%; z-index:9999;text-align:left;}
.plat_tan_tit{ height:32px; line-height:32px;font-size:14px; padding-left:10px; background-color:#07aaff;color:#fff;}
.plat_tan_tit span{float:right;display:block;height:32px;width:32px;background-image:url(../images/x_white.png);background-repeat:no-repeat;background-position:center center;cursor:pointer;}
.plat_tan_tit span:hover{background-image: url(../images/x_white.png); background-color:#f00;}
.plat_tan_page{ padding:15px;}
.plat_tan_footer{height:30px;border-top:solid 1px #eeeeee;background-color:#fafafa;text-align:right;padding:15px;}

/*弹窗内容-表单*/
.plat_list{ display:block;}
.plat_list_left{width:100px;text-align:left;font-size:14px;float:left;line-height:28px;padding-bottom:15px;color:#333}
.plat_list_right{margin-left:100px;font-size:12px;color:#999;padding-bottom:15px;}


/*弹窗-按钮--------------------------------------------*/

/*取消按钮*/
.cance2_button{display:inline-block;height:28px;line-height:28px;background-color:#fff;border:solid 1px #ddd;padding-left:30px;padding-right:30px;border-radius:3px;color:#666;cursor:pointer;margin-right:30px;font-size:12px;font-family:"宋体";}
.cance2_button:hover{background-color:#fff;border:solid 1px #ccc;}

/*保存-确认-按钮*/
.save_button1{display:inline-block;height:28px;line-height:28px;background-color:#30c76c;border:solid 1px #08a95d;padding-left:30px;padding-right:30px;border-radius:3px;color:#fff;cursor:pointer;margin-right:10px;font-size:12px;font-family:"宋体";}
.save_button1:hover{background-color:#2DB764;}
.save_button1 a{ color:#fff; display:block;}

/*批量上传按钮*/
.batch_button{display:inline-block;height:28px;line-height:28px;background-color:#1eb488;border:solid 1px #16a87d;padding-left:20px;padding-right:20px;border-radius:3px;color:#fff;cursor:pointer;margin-right:10px;font-size:14px;}
.batch_button:hover{background-color:#24c898;}

.plat_tan_text{ line-height:24px; font-size:14px;}

/*添加按钮*/
.plat_tianjia{ height:28px; line-height:28px; background-color:#1eb488; border:solid 1px #16a87d; display:inline-block; padding-left:20px; padding-right:20px; float:right; color:#fff; font-size:14px;border-radius:3px; cursor:pointer;box-shadow: 0px 1px 3px 0px #bbb;}
.plat_tianjia:hover{ background-color:#20c997;}



/*初始化步骤---------------------------------------------------------------------------------*/

/*菜单1-8*/
.start_menu{ width:160px; padding:0px 10px 0px 10px;background-color:#f8fafc; border-right:solid 1px #dddddd;float:left;height:100%;left:0;top:0;margin-top:60px;z-index:999;text-align:left;position:fixed}
.start_menu ul{ padding-top:10px;}
.start_menu li{ width:160px; font-size:14px; margin-top:5px;}
.start_menu li span{padding-left:16px; padding-right:12px;font-size:16px;font-family:Arial;font-style: italic;}
.start_menu li em{ display:block; width:18px; height:18px; float:right; margin-top:11px; margin-right:11px;}
.start_menu_now{height:45px; background-image:url(../images/start_menu_now.png); line-height:40px; color:#fff;}
.start_menu_now em{ background-image:url(../images/now_ico.png);}
.start_menu_ok{height:45px; background-image:url(../images/start_menu_ok.png); line-height:40px; color:#fff;}
.start_menu_ok em{ background-image:url(../images/ok_ico.png);}
.start_menu_ques{height:45px; background-image:url(../images/start_menu_ques.png); line-height:40px; color:#fff;}
.start_menu_ques em{ background-image:url(../images/ques_ico.png);}
.start_menu_visit{height:45px; background-image:url(../images/start_menu_visit.png); line-height:40px; color:#aaaaaa;}

.start_menu_best{ height:40px; background-color:#eee;line-height:40px; color:#aaaaaa;}
.start_menu_best_now{ background-color:#3ea3f1; color:#fff; line-height:40px;}
.start_menu_best_now em{ background-image:url(../images/now_ico.png);}
.start_menu_best_ok{ background-color:#2ac844; color:#fff; line-height:40px;}
.start_menu_best_ok em{ background-image:url(../images/ok_ico.png);}
.start_menu_best_ques{background-color:#f1a33e;line-height:40px; color:#fff;}
.start_menu_best_ques em{ background-image:url(../images/ques_ico.png);}

/*内容--------------*/
.start_page{width:100%;float:left;background-color:#FFF;padding-top:60px}/*框架*/
.start_page_content{margin-left:200px;margin-top:0;min-height:600px;text-align:left;background-color:#fff;margin-right:20px; margin-top:20px;}/*框架*/

.start_page_add{font-size:24px;font-family:"微软雅黑";line-height:36px;padding-bottom:12px;display:block}
.start_page_main{ padding:0px; display:block;}
.start_table{ border:solid 1px #ddd; text-align:left; font-family:"宋体";}
.start_table th{ background-color:#f3f3f3; border-left:solid 1px #ddd; border-bottom:solid 1px #ddd;padding-left:12px; font-size:12px; font-weight:bold; color:#333; height:35px; line-height:35px;}
.start_table td{ border-top:solid 1px #eee; height:45px; font-size:12px; padding-left:12px; line-height:45px; color:#5d7388;}
.start_table tr:hover{ background-color:#ffffdd;}

.start_zw{ padding-right:80px; display:inline-block;}
.start_man_women{padding-right:20px; display:inline-block; cursor:pointer;}
.start_man_women:hover{ color:#07f;}

/*下一步按钮*/
.start_goto{ height:45px; padding:25px 0px 25px 0px; display:block; text-align:center;}

.xiayibu_a{ display:inline-block; padding:0px 40px 0px 40px; min-width:100px; height:40px; line-height:40px; color:#fff; font-size:14px; background-color:#3ad58a; border:solid 1px #2db574; margin:0 20px; text-decoration:none; border-radius:3px;}
.xiayibu_a a:hover{background-color:#1fe183; border:solid 1px #2db574;}


.back_up{ display:inline-block; padding:0px 20px 0px 20px; min-width:100px; height:40px; line-height:40px; color:#fff; font-size:14px; background-color:#47b8f3; border:solid 1px #2da5e4; margin:0 20px; text-decoration:none; border-radius:3px;}
.back_up a:hover{background-color:#2ad8c6; border:solid 1px #19bfae;}


/*默认第一行，无信息，添加*/
.start_nothing{ text-align:center; color:#999;}
.start_nothing_span{ line-height:25px; height:25px; background-color:#3ea3f1; color:#fff; font-size:12px; padding:0px 15px 0px 15px; display:inline-block;border-radius:2px; cursor:pointer;}
.start_nothing_span:hover{ background-color:#1791f0;}


/*表单元素*/
.input_1{ border:solid 1px #ccc; line-height:24px; padding:2px 5px 2px 7px; background-color:#fff;border-radius:3px;}
.input_1:hover{border:solid 1px #07f;}
.select_1{ padding:3px; margin-right:7px;}
.select_1:hover{border:solid 1px #07f;}

.textarea_1{border:solid 1px #ccc; line-height:18px; padding:2px 5px 2px 7px; background-color:#fff;border-radius:3px;}
.textarea_1:hover{border:solid 1px #07f;}

.room{ font-size:18px; padding-top:15px; padding-bottom:5px; color:#333; display:block;}
.room span{ color:#07f;}

/*筛选按钮*/
.plat_shai{float:right;	border:solid 1px #ccc;line-height:25px;height:25px;padding-left:20px;padding-right:20px;font-size:14px;color:#666;margin-top: 6px;margin-right: 10px;background-color: #FFF;cursor:pointer;}
.plat_shai:hover{ background-color:#07aaff; color:#fff; border:solid 1px #07aaff;}
.plat_shai_visit{float:right;border:solid 1px #07aaff;line-height:25px;height:25px;padding-left:20px;padding-right:20px;font-size:14px;	color:#fff;	margin-top: 6px;margin-right: 10px;	background-color: #07aaff;cursor:pointer;}

/*开启和关闭*/
.open_but{ display:inline-block; line-height:25px; height:25px; background-color:#07f; padding-left:10px; padding-right:10px; margin:0 5px; color:#fff; cursor:pointer;}
.close_but{ display:inline-block; line-height:25px; height:25px; background-color:#eee; padding-left:10px; padding-right:10px; margin:0 5px; color:#666;cursor:pointer;}

/*商品管理-批量-初期*/
.shopping_text{ background-color:#fafafa; border:solid 1px #ddd; padding:10px; display:block; margin-bottom:15px; font-size:12px;}

/*上传区域*/
.update_page{ width:260px; height:80px; background-color:#fff; line-height:80px; font-size:22px; color:#333; text-align:center; position:absolute; top:250px; left:40%;box-shadow: 0px 1px 5px 0px #999; z-index:9999;}
.update_page span{ color:#07f; font-family:Arial; font-size:26px;}

/*数据返回结果*/
.back_ok{ height:35px; line-height:35px; display:inline-block; position:absolute; top:70px; left:50%; margin-left:-20%; font-size:14px; color:#fff; background-color:#6acf39; padding-left:25px; padding-right:25px;border-radius:3px;}

/*消息*/
.plat_xiaoxi_list{ border-bottom:dotted 1px #eee; padding:15px 0px 15px 0px; display:block;}
.plat_xiaoxi_list:hover{ background-color:#fafafa;}
.plat_xiaoxi_list_img{ width:34px; height:34px; float:left; margin-right:10px;}
.plat_xiaoxi_list dl{ display:block;}
.plat_xiaoxi_list dt{ line-height:17px; display:block; font-size:14px; color:#333;}
.plat_xiaoxi_list dt a{ color:#07f;}
.plat_xiaoxi_list dt span{ color:#999;}
.plat_xiaoxi_list dd{line-height:12px; padding-top:5px; display:block; font-size:12px; color:#999;}
